.nav-tabs {
    margin-top: 54px;
    overflow: hidden;

    .nav-wrapper {            

        white-space: nowrap; 
        width: 100%;
        position: relative;
        height: 80px;
        overflow: hidden;

        &--square {
            height: 210px;
        }

        ul.nav-list {
            transition: all .4s;
            -moz-transition: all .4s;
            -webkit-transition:all .4s;
            -o-transition: all .4s;
            position: absolute;
            left: 0;
            top:0;

            display: flex;
            align-items: center;             
            gap: 12px;
        }

        &--right {
            ul.nav-list {
                left: unset;
                right: 0;
            }
        }

        .tab--square {
            width: 210px;
            height: 210px;
            background-color: #1D1B1C;
            border-radius: 16px;
            flex-direction: column;
            justify-content: space-between;
            color: white;
            font-size: 24px;
            padding: 48px;
        
            img {
                margin-bottom: 12px;
            }
        }
    }
}

.web-headers {
    margin-top: 120px;
    color: white;
    display: flex;
    width: 100%;

    .container {
        justify-content: space-between;
    }

    h3.header--short {
        width: 40%;
    }

    h3.header--long {
        width: 54%;
    }
}

.icons {

}

.all-items {
    display: flex;
    justify-content: center;

    a {       
        padding-right: 40px;
        font-size: 28px;
        color: white;
        background-image: url('data:image/svg+xml,<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_635)"><path d="M14 34.5L34 14.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 14.5H34V34.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1_635"><rect width="48" height="48" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
        background-repeat: no-repeat;
        background-position: right -12px center;
        border-bottom: 1px solid white;
        padding-bottom: 8px;
    }
}



.three-blocks-slider {
    margin-top: 64px;
    margin-bottom: 64px;

    .feature {
        height: 500px;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 64px 48px;

        .header {
            color: white;
            font-size: 40px;
            font-weight: 300;
        }
    }

    .article {

        border-bottom: 1px solid white;
        padding-bottom: 24px;
        
        .image {
            img {
                border-radius: 16px;
            }
        }

        .header {
            color: $semiLight;
            font-size: 24px;
            margin-top: 32px;
            margin-bottom: 32px;
        }

        .description {
            color: white;
            font-size: 24px;
            line-height: 34px;
        }
    }

    .slides {
        display: flex;
        gap: 32px;
        width: 100%;

        .slide {
            flex: 1;
        }
    }

    .dots {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-top: 48px;

        .dot {
            width: 16px;
            height: 16px;
            background-color: #ffffff30;
            border-radius: 50%;
            cursor: pointer;

            &--active {
                background-color: #fff;
            }
        }
    }
}


@media (max-width: 1200px)  {
    section.web-headers {
        display: none;
    }

    .three-blocks-slider {
 
    
        .slides {
            flex-direction: column;
    
            .slide {

                .article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

            }
        }

    }
    
}

@media (max-width: 900px) {
    .nav-tabs {
        margin-top: 34px;        
    
        .nav-wrapper {            
    
            height: 60px;
    
            &--square {
                height: 104px;
            }

    
            .tab--square {
                width: 104px;
                height: 104px;
                font-size: 14px;
                padding: 8px;
            
                img {
                    margin-bottom: 8px;
                    
                }
            }
        }
    }
}

