.mainpage-banner {
    background-color: $secondBackground;
    width: 100%;
    height: 534px;
    background-position: right -400px bottom -300px;               
    background-repeat: no-repeat;           

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: left top -520px;               
        background-repeat: no-repeat;   
        
        h1 { 
            color: white;
        }

    }
}

.mainpage-banner--mob {
    display: none;
}

.container-banner {
    margin-top: 64px;

    .banner {
        width: 100%;
        height: 590px;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom;

        &__description {
            width: 48%;
            color: white;
            padding: 64px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                color: white;
                font-weight: 300;
            }
            &--small {
                color: white;
                width: 500px;
                margin-top: 230px;
                margin-left: 220px;
                
            }
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner-social {
            display: flex;
            justify-content: space-between;
            width: 420px;
            margin-top: 48px;

            &__item {
                border: 1px solid white;
                border-radius: 8px;
                cursor: pointer;
                width: 120px;
                height: 120px;
                display: flex;
                flex-direction: column;
                padding-bottom: 12px;
                align-items: center;
                justify-content: end;

                p {
                    color: white;
                }

                img {
                    margin-bottom: 4px;
                }

                span {
                    font-size: 20px;
                    font-weight: 300;
                }
                
            }
        }
    }
}

@media (max-width: 1600px)  {
    .mainpage-banner {
        background-position: right -600px bottom -300px;  
    }
}

@media (max-width: 1200px)  {
    .mainpage-banner {
        display: none;
    }

    .mainpage-banner--mob {
        display: block;
        min-height: 360px;
        color: white;

        .banner-wrapper {
            padding-top: 100px;
            min-height: 360px;
            background-repeat: no-repeat;
            background-position: right top -20px;


            .container {
                h1 {
                    margin-bottom: 100px;
                }

                h2 {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .container-banner {
        margin-top: 64px;
        .banner-laptop {
            margin-top: 200px;
        }
        .banner {
         
            display: flex;
            flex-direction: column-reverse;
            height: 390px;

    
            &__description {
                
                width: 100%;
                
                justify-content: center;

                &--small {
                                        
                    margin: unset;
                    padding: 32px;
                    width: unset;
                    
                }

                margin-top: 32px;
                padding: 32px;

            }
    
            .banner-social {
                width: unset;
                margin-top: 32px;
                .banner-social__item {
                    width: 90px;
                    height: 90px;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
            &__image {
                max-height: 240px;
            }

        }
    }
}

@media (max-width: 600px) {
    .container-banner {
        margin-top: 60px;
        .banner-laptop {
           

            h2 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }

            .btn--large {
                height: 24px;
                font-size: 16px;
            }
        }
        .banner {
            display: flex;
            flex-direction: column-reverse;
            height: 390px;
            background: none !important;

    
            &__description {
                width: 100%;
                
                justify-content: center;

                &--small {
                                        
                    margin: unset;
                    padding: 32px;
                    width: unset;
                    
                }

                margin-top: 32px;
                padding: 32px;

            }
    
            .banner-social {
                margin-top: 32px;
                .banner-social__item {
                    width: 90px;
                    height: 90px;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
            &__image {
                max-height: 240px;
            }

        }
    }
}