.steps {
    margin-top: 120px;
    color: white;



    .step {        
        border-left: 1px solid white;
        padding: 32px;
        display: flex;

        .number {
            color: $semiLight;
            font-size: 24px;
            width: 12%;

            &--long {
                width: 30%;
            }
        }

        .images {
            width: 50%;
            color: $light;
            margin-top: -12px;

            h3  {
                margin-bottom: 24px;
            }

            &--padding {
                padding-right: 200px;
            }
        }

        .description {
            width: 38%;
            color: $semiLight;


            &--padding {
                padding: 72px 0 0 84px;
            }
        }   
    }

    .step.border-bald {
        border-left: 3px solid white;
    }
}

@media (max-width: 900px) {
    .steps {
        margin-top: 32px;  
        
        .mob-only {
            margin-bottom: 24px;
            h2 {
                font-weight: 500;
            }

            .btn--large.mt-4 {
                width: 100% !important;
                height: 40px;
                font-size: 16px;
            }


        }
    
        .images--padding {
            padding-right: 0 !important;
        }
        .step {        
            border-left: 1px solid white;
            padding: 32px;
            display: flex;
    
            .number {
   
                font-size: 18px;
                margin-right: 20px;
    
                &--long {
                    width: 30%;
                }
            }
    
            .images {
                width: 100%;
                margin-top: -4px;
    
                h3  {
                    font-size: 20px;
                }

            }
    
            .description {
                display: none;
            }   
        }

    }
}