.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab--middle {
    height: 62px;
    padding: 12px 32px;
    font-size: 20px;
    border-radius: 100px;
}



.tab--dark {
    color: white;
    border: 1px solid $borderGray;
}

@media (max-width: 900px) {
    .tab--middle {
        height: 44px;
        padding: 8px 18px;
        font-size: 15px;
        border-radius: 100px;
    }
}